@import url('https://fonts.googleapis.com/css2?family=Vazirmatn:wght@300;400;500;700;900&family=JetBrains+Mono:wght@400;500&display=swap');
@import "tailwindcss";

@theme {
  --font-sans: "Vazirmatn", ui-sans-serif, system-ui, sans-serif;
  --font-mono: "JetBrains Mono", ui-monospace, SFMono-Regular, monospace;
}

body {
  font-family: var(--font-sans);
  background-color: #0a0a0c;
  color: #d4d4d8; /* zinc-300 */
  direction: rtl;
  text-align: right;
}

/* Custom scrollbar for beautiful premium UI */
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}
::-webkit-scrollbar-track {
  background: #0e0e11;
}
::-webkit-scrollbar-thumb {
  background: #27272a; /* zinc-800 */
  border-radius: 3px;
}
::-webkit-scrollbar-thumb:hover {
  background: #3f3f46; /* zinc-700 */
}
